nav#nav-bar-element{
	background-color: #003d66;
}
nav#nav-bar-element a.navbar-brand{
    color: #ff6600;
    font-size: 23px;
    font-family:cursive;
    font-weight: bold;
}
nav#nav-bar-element a.nav-text-one{
    color: white;
    font-family: Charcoal;
}
nav#nav-bar-element li.nav-text-background:hover{
    background-color: #ff6600;
    font-family: Charcoal;
}
nav#nav-bar-element{
    position:fixed;
    width: 100%;
    font-family: Charcoal;
}
nav#nav-bar-element a.create-post-button{
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff8000;
    border: 2px solid #ff8000;
    border-radius: 15px;
    box-shadow: 0px 3px #b3b3cc;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    margin-left: 1%;
}
nav#nav-bar-element a.create-post-button:hover {
  background-color:   #1E90FF;
}
nav#nav-bar-element a.create-post-button:active {
  background-color:   #483D8B;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
nav#nav-bar-element input.search-bar{
    width:300px;
}

/* Login in bar*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #FDF5E6 ;
}

#wrap {
  margin: 0 auto 10px;
`
}

#regbar {
  position: absolute;
  right: 25%;
  top: 18%;
}

#navthing {
  position:absolute;
  right: 10px;
  margin-top: -6px;
  font-weight:bold;
}

.searchbar{
  position:absolute;
  right: 0%;
  top: 5%;
}

.searchbar p {
  padding: 5px;
  color: orange;
}

fieldset {
  border: none;
}

.login {
  position:relative;
  width: 350px;
  display: none;
  font-weight:bold;

}
.register {
  position: relative;
  width: 350px;
  display: none;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 2%;
  position: absolute;
  top: -10px;
}
.arrow-up_2 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 25%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type="fistname"], .formholder input[type="firstname"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="lastname"], .formholder input[type="lastname"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}


.formholder input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="age"], .formholder input[type="age"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}

.formholder input[type="submit"] {
  background: #1abc9c;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}
.footer {
  bottom: 0px; 
  position:fixed;
  height:10%;
  width:100%;
  color: white;
  text-align: center;
  background-color:#003d66;
}

