html,body
{
    font-family: 'Segoe UI Light', 'Helvetica Neue', 'RobotoLight', 'Segoe UI', 'Segoe WP', sans-serif;
}

#title 
{
	margin-top: 130px;
    text-align: center;
    color:#FF8C00;
    background-color:#6495ED; 
}

#chat-window
{	
    height: 200px;
  
    background-color:#FFFAFA;
    border-bottom: 18px;

}

#chat-bottom
{
	border-spacing: 18px;
    background-color: 	#6495ED;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

