html,body
{
    font-family: 'Segoe UI Light', 'Helvetica Neue', 'RobotoLight', 'Segoe UI', 'Segoe WP', sans-serif;
}

#chatroom

{    
       
    margin-top: 0px;
    margin-bottom: 0px;
}

#chat-table{
    

    margin-top: 1%;
    margin-left: 4%;
    background-color:rgba(255,0,255, 0.2); 
     
}

#chat-window {
    float:left;

    overflow:   scroll;
    position:   relative;
}

#chatText {
    
        overflow:   scroll;
        text-align: right;
        max-height: 400px;

}


#create-chat-button{
    margin-top: 5%;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff8000;
    border: 2px solid #ff8000;
    border-radius: 15px;
    box-shadow: 0px 3px #b3b3cc;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    margin-left: 4%;
}

#title 
{
	margin-top: 100px;
    text-align: center;
    color:#FF8C00;
    background-color:#6495ED; 

}



#pic1{
    width:55%;
    margin-right:2%;
    float: left;
}
#pic1 iframe{
   width:100%;
}
#pic2 {
    width:42%;
    float: left;
}

#gif1{
    width:55%;
    margin-right:2%;
    float: left;
}
#gif1 iframe{
   width:100%;
}
#game_head {
    width:42%;
    float: right;
}




#chatroom
{   margin-top: 100px;
    margin-bottom: 0px;
}


#greeting 
{   margin-top: 0px;
    margin-bottom:0px;
}

#chat-window
{	
    margin-top: 0px;
    height: 200px;
    background-image: url("http://theabsolutemag.com/wp-content/uploads/2016/03/58242a31468859.56524f20428af-sm.gif");
    background-size: 340px 200px;
   
    border-bottom: 0px;

}

#chat-bottom
{   
    margin-top: -1px;
	border-spacing: 0px;
    background-color: 	#6495ED;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

tr {
  background-color: white;
}
tr:hover {
  background-color: blue;
}
