div#post-page{
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	border-color: transparent;
	background-color: transparent;
}

div#post-page input {
	margin-bottom: 5px;
	background-color: #FF8C00;
	font-family:Charcoal;
	color:white;
	border-radius: 10px;
	width:7vw;
}

div#FoodAcademic input {
	margin-bottom: 5px;
	font-family:Charcoal;
	border-radius: 2px;
	width:15px;
}

div #FoodAcademic {
	color: orange;
	font-weight: bold;
}

.panel-heading{
	background-color: 	#6495ED
	margin-top:10px;

}

.panel-body {
	background-color: #FFFFF0;
}

.edit{
	padding-top: 1%;
	margin: 0 auto;
	margin-top: 10%;
	background: #ecf0f1;
  	width: 350px;
  	height: 430px;
  	border-radius: 5px;
}

.edit input{
	  margin: 0 auto;
	  display: block;
	  text-align: center;
	  font-size: 18px;
	  border-radius: 5px;
	  border: none;
	  -webkit-transition: 0.3s linear;
	  -moz-transition: 0.3s linear;
	  -o-transition: 0.3s linear;
	  transition: 0.3s linear;
}

.edit input[name="user_id"]{
	display: none;
}

.edit label{
	  text-align: center;
	  margin: 0 auto;
	  display: block;
	  margin-top: 1%; 
	  font-size: 18px;
}